@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 16, 15;
  --background-end-rgb: 13, 16, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

/* Personalização da barra de rolagem Tektus OS */
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    background: #2F2F2F;
}
body::-webkit-scrollbar-thumb {
    background: #00FF85;
    border-radius: 20px;
    border: 5px solid #00FF85;
}

/* Para Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #00FF85 #2F2F2F;
} 